        <table class="table table-light">
           <thead>
             <tr class="row">
                <th class="col-6"> Tâche </th>
                <th class="col-6"> DeadLine </th>
             </tr>
           </thead>
           <tbody>
             <tr class="row" *ngFor="let row of todoService.arrayTodo; let i = index">

               <td class="checkbox mb-3">
                 <label>
                   <input type="checkbox" value="finished"> Done
                 </label>
               </td>
               <td class="col-5 form-floating"> <input  [(ngModel)]="row.what"
                                                   [name]="'nickname2'"
                                                   #inputTodoWhat2="ngModel"
                                                   id="inputTodoWhat"
                                                   [class.is-invalid]="inputTodoWhat2.touched && inputTodoWhat2.invalid"

                                                   type="text"
                                                   placeholder="{{row.what}}"
                                                   class="form-control"
                                                   required
                                                >
               </td>
               <td class="col-5 form-floating"> <input  [(ngModel)]="row.when"
                                                   [name]="'quand2'"
                                                   #inputTodoWhen2="ngModel"
                                                   id="inputTodoWhen"
                                                   [class.is-invalid]="inputTodoWhen2.touched && inputTodoWhen2.invalid"

                                                   type="date"
                                                   placeholder="{{row.when}}"
                                                   class="form-control"
                                                   required
                                                >
               </td>

               <td class="checkbox col-2">
                 <label>
                   <button (click)="removeTodo(i)" class="btn btn-danger p-3"> X </button>

                 </label>
               </td>
             </tr>
           </tbody>
        </table>


