




<!-- <input type="text" (input)="persist('test', $event.target.value)">   // bout de code du persist() -->
      <form (ngSubmit)="onSubmit()" #formTodo="ngForm">
        <div class="row">
          <div class="input-group">

            <div class="col-12">
            <label for="inputTodoWhat">Something to do?  </label>
            </div>
            <div class="col-12">
            <input  [(ngModel)]="todo.what"
                    [name]="'what'"
                    #inputTodoWhat="ngModel"
                    id="inputTodoWhat"
                    [class.is-invalid]="inputTodoWhat.touched && inputTodoWhat.invalid"

                    type="text"
                    placeholder="Go buy chocolate!"
                    class="form-control"
                    required
            >
            </div>
          </div>
            <div *ngIf="inputTodoWhat.invalid && (inputTodoWhat.dirty || inputTodoWhat.touched)"
                 class="p-2 ms-2 col-5 alert-danger"
            >
              <div *ngIf="inputTodoWhat.errors?.required">
                Je suis sur que vous avez quelques choses à faire ...
              </div>
            </div>
        </div>

        <div class="row">
          <div class="input-group">
            <div class="col-12">
            <label for="inputTodoWhen">When?  </label>
            </div>
            <div class="col-12">
            <input  [(ngModel)]="todo.when"
                    [name]="'when'"
                    #inputTodoWhen="ngModel"
                    id="inputTodoWhen"
                    [class.is-invalid]="inputTodoWhen.touched && inputTodoWhen.invalid"
                    type="date"
                    placeholder="... Tomorrow ?"
                    class="form-control"

            >
          </div>
          </div>
          <div *ngIf="inputTodoWhen.invalid && (inputTodoWhen.dirty || inputTodoWhen.touched)"
               class="p-2 ms-2 col-5 alert-danger"
          >
            <div *ngIf="inputTodoWhen.errors?.required">
              Jusqu'à quand avez vous?
            </div>
          </div>
        </div>

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="finished"> Done?
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" >Add TODO</button>
      </form>



